body {
  background-image: url(../img/bg1.jpg);
  background-position: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#fileUpload {
  border-radius: 15px;
  background: #fc0; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0,0,0,1); /* Параметры тени */
  padding: 10px;
}

.downloadPage {
  height: 100vh;
  width: 100%;
}

@media (min-device-width: 1024px) {
  .name {
    font-size: 100px;
    margin-bottom: 200px;
  }
  #android_app_info {
    font-size: 40px;
    margin-top: 100px;
  }
  button {
    box-shadow: 0px 1px 25px aqua !important;
    font-weight: 500;
  }
}

@media (max-device-width: 800px) {
  .name {
    font-size: 50px;
    margin-bottom: 200px;
  }
  #android_app_info {
    font-size: 25px;
    margin-top: 100px;
  }
  button {
    box-shadow: 0px 1px 25px aqua !important;
  }
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}

